* {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

a {
  color: #00B7FF;
}

/* CSS for Header */
header {
  padding: 10px;
  background-color: blue;
  display: flex;
  flex-direction: column;
}

#general-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#general-info a {
  text-decoration: none;
}

/* CSS for Navbar */

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start
}

#navbar .dropdown, #navbar .menu-btn {
  flex-grow: 1;
  border: none;
}

#navbar .dropdown .menu-btn, #navbar a {
  text-decoration: none;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

#navbar .dropdown .menu-btn:hover, #navbar a:hover {
  background-color: antiquewhite;
  color: blue;
}

#navbar .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: red;
  min-width: 200px;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
  color: black;
  text-align: left;
  padding: 12px 16px;
  z-index: 100;
}

#navbar .dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}


/* CSS for SlidesShow */

#slideshow-container {
  max-width: 100%;
  max-height: 400px;
  position: relative;
  background-color: white;
}

.slides {
  text-align: center;
  box-sizing: border-box;
  margin: auto;
  display: none;
}

.slides img {
  width: 400px;
  height: 300px;
}

#slidesshow-dot {
  text-align: center;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: blue;
}

/* CSS for Results*/

#results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

/* CSS For Single Product */
.product-window {
  margin: 10px;
  padding: 10px;
  border: solid 2px black;
  width: 300px;
  max-height: 400px;
}

.product-pic {
  width: 250px;
  height: 300px
}


/* CSS for mechant Page */
.upload_new_product {
  text-justify: center;
}

/* CSS for Signup Window */
button:hover {
  opacity: 0.8;
}

input:focus, textarea:focus {
  background-color: aqua;
}

.signup-window {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-window .btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.signup-window .btn-group .login, .signup-window .btn-group .signup {
  position: static;
  border: none;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  background-color: blue;
  font-size: 24px;
}

.signup-window .btn-group .login:hover, .signup-window .btn-group .signup:hover {
  background-color: #00B7FF;
}


/* #customer-signup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #474e5d;
  padding-top: 50px;
} */

/* #customer-signup {
  display: none;
  position: fixed;
} */

/* .signup-window .signup:hover, #customer-signup {
  display: block;
  text-align: center;
} */


#customer-signup {
  text-align: center;
  width: 300px;
}

#product-form, .user-form {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  max-width: 400px;
  max-height: 500px;
  background-color: #00B7FF;
  border-radius: 15px;
}

.submit-btn {
  margin: 20px;
  padding: 10px;
  background-color: white;
}


#product-form .submit-input {
  margin-top: 10px;
  max-width: 100px;
}

/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* SlideShow-Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}